.fullContainer {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	/*background-color:rgba(0,48,59,1);*/
}

#left_full {
	background-color: rgba(43, 48, 59, 0.96);
	position: fixed;
	width: 50px;
	height: 100%;
	z-index: 1;
}

#menu_full {
	color: rgb(120, 129, 149);
	background-color: rgb(43, 48, 59);
	position: fixed;
	width: 240px;
	height: 100%;
	left: 50px;
	z-index: 1;
}

#menu_full .menu_top{
	text-align: center;
	padding: 42px 0px 0px 0px;
}

#menu_full .menu_seperator {
	border-top: 1px solid rgb(96, 103, 119);
	height: 0px;
	margin: 25px 0;
	margin-left: auto; margin-right: auto;
	width: 50%;
}

#menu_full .menu_nav {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 40px;
	top: 340px;
	/*top: 50%;*/
}

#inside_nav a {
	display: block;
	padding: 3px 25px;
	outline: none;
	/*width: 235px;*/
	width: -moz-calc(100% - 5px);
	width: -webkit-calc(100% - 5px);
	width: calc(100% - 5px);
	text-decoration: none;
	color: #788195;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	cursor: pointer;
}

#inside_nav a .menu_name {
	font-size: 13px;
	font-weight: 400;
	line-height: 40px;
	font-family: Montserrat;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

#inside_nav a .fa {
	font-size: 21px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background: #21252d;
	color: #788195;
	float: right;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

#inside_nav a.selected_nav .menu_name {
	color: #FFF;
	font-weight: bold;
}

#inside_nav a.selected_nav .fa {
	color: #FFF;
	background: #81b71a;/*main*/
}

#inside_nav a:hover .menu_name {
	color: #FFF;
}

#inside_nav a:hover .fa {
	background: #788195;
	color: #21252d;
}

#menu_full .menu_footer {
	background-color: rgb(38, 42, 52);
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100%;
	text-align: center;
}

.image_wrap img {
	width: 150px;
	height: 150px;
	border: 5px solid rgba(120, 129, 149, 0.19);
	margin: auto;
}

p {
	margin: 0 0 -5px;
}

.content_container {
	background-color: rgb(228, 228, 232);
	overflow-x: scroll;
	overflow-y: hidden;
	position: absolute;
	height: 100%;
	left: 290px;
	right: 0px;
}

.header_container {
	background-color: rgb(242, 242, 244);
	height: 50px;
	left: 0;
	top: 0;
	width: 100%;
}

.header {
	background-color: rgb(242, 242, 244);
	height: 50px;
	position: fixed;
	margin: 0 auto;
	/*width: 100%;*/
	padding-left: 290px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	top: 0px;
	left: 0px;
	right: 0px;
}

.content_wrapper {
	width: 4010px;
	position: absolute;
	overflow: hidden;
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
}

.content {
	width: 490px;
	height: -moz-calc(100% - 13px);
	height: -webkit-calc(100% - 13px);
	height: calc(100% - 13px);
	float: left;
	background-color: rgb(242, 242, 244);
	margin: 7px 0px 10px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

.content .content_div {
	width: 100%;
}

.content_icon {
	font-size: 21px;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: rgb(33, 37, 45);
	color: rgb(133, 142, 161);
	position: relative;
	left: -15px;
	top: 20px;
	float: right;
}

.selected_content div .content_icon {
	color: #FFF;
	background: #81b71a;/*main*/
}

.inside_inner {
	padding: 10px 20px;
}

.inner_before_title {
	font-family: Montserrat;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	color: #81b71a;/*main*/
}

.inner_head {
	padding: 0 0 14px 0;
	margin-bottom: 16px;
	margin-top: 4px;
	font-size: 17px;
	font-family: Montserrat;
	letter-spacing: 2px;
	color: #606777;
	position: relative;
	-webkit-margin-before: 0.53em;
	-webkit-margin-after: 0.53em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.inner_head:after {
	position: absolute;
	width: 25px;
	height: 2px;
	top: 31px;
	left: 0;
	font-family: serif;
	content: " ";
	background: #81b71a;/*main*/
}

.inner_title {
	padding: 9px 9px 9px 0;
	display: inline-block;
	color: #606777;
	font-size: 15px;
	font-family: Montserrat;
	position: relative;
}


.inner_title:after {
	border-bottom: 2px solid;
	border-right: 2px solid;
	right: 0; bottom: 5px; content: "";
	position: absolute;
	height: 10px; width: 10px;
}

.inner_container {
	height: 100%;
	margin: 10px 0;
	position: relative;
}

.about_card {
	width: 100%;
	height: 265px;
	background-color: #fff;
	background: linear-gradient(rgba(43, 48, 59, 0.75), rgba(43, 48, 59, 0.75)), url(../img/cover.jpg) no-repeat;
	background: -webkit-linear-gradient(rgba(43, 48, 59, 0.75), rgba(43, 48, 59, 0.75)), url(../img/cover.jpg) no-repeat;
	background-size: 100%;
	position: relative;
}

.about_card .about_details {
	padding: 10px;
	position: absolute;
	left: 0;
}

.about_card .about_details div {
	color: rgba(255, 255, 255, 0.61);
	background: rgba(0, 0, 0, 0.27);
	height: 30px;
	margin-bottom: 7px;
}

.about_card .about_details .fa {
	background: rgba(0, 0, 0, 0.27);
	color: rgba(255, 255, 255, 0.75);
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-size: 15px;
}

.detail {
	padding: 0 10px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	font-size: 13px;
}

.card_content_wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.24);
}

.card_content_wrapper .description {
	font-size: 13px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.53);
	display: block;
	text-transform: uppercase;
	line-height: 25px;
	padding: 10px;
}

.card_content_wrapper .status {
	width: auto;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	display: block;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.27);
	color: rgba(255, 255, 255, 0.75);
}

.card_content_wrapper .status .fa {
	margin-right: 10px;
	height: 28px;
	font-size: 10px;
	line-height: 28px;
	color: #63a924;
	text-align: center;
}

.more_details {
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	background: rgba(248, 249, 251, 0.6);
	border: 1px solid #DBDBE0;
}

.more_details .title {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}

.more_details .sub_title {
	font-size: 13px;
	color: #81b71a;/*main*/
	margin-bottom: 10px;
}

.two_part_card {
	position: relative;
	margin-bottom: 10px;
}

.two_part_card .card_tag {
	width: 45px;
	height: 100%;
	text-align: center;
	padding: 8px;
	position: absolute;
	background: #81b71a;/*main*/
	color: rgba(255, 255, 255, 0.8);
}

.two_part_card .card_tag .duration {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.13);
}

.two_part_card .card_tag .duration span {
	width: 45px;
	display: block;
	font-size: 10px;
	height: 25px;
	line-height: 25px;
}

.two_part_card .card_tag .duration .separator {
	display: block;
	border-top: 1px solid rgba(255, 255, 255, 0.82);
	height: 0;
	margin: 0 auto;
	width: 25px;
}

.two_part_card .card_tag .fa {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: rgba(0, 0, 0, 0.13);
}

.two_part_card .card_container {
	margin-left: 55px;
	padding: 10px;
	position: relative;
	background: rgba(248, 249, 251, 0.6);
	border: 1px solid #DBDBE0;
}

.two_part_card .card_container .card_content {
	font-size: 15px;
	color: #606777;
	text-align: justify;
	font-family: Montserrat;
}

.two_part_card .card_container .card_content .card_content_header{
	margin: 0;
	padding: 5px 0;
	font-size: 0.9em;
}

.two_part_card .card_container .card_content .card_content_subheader{
	margin-top: 0;
	margin-bottom: 9px;
	font-size: 10px;
	text-transform: uppercase;
	color: #81b71a;/*main*/
}

.two_part_card .card_container .card_content .card_content_subheader span{
	float: right;
	font-size: 13px;
	color: #606777;
}

/*
var ****| value
main 	| #81b71a
*/

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-thumb{
	border-radius: 3px;
	background-color: #a6a6a6; 
}

::-webkit-scrollbar-track{
	border-radius: 3px;
}