body, h1, h2, h3, ul {
	margin: 0;
	padding: 0;
}

p {
	/* letter-spacing: 1px; */
	font-size: 1.3rem;
}

:root {
	/* --primaryBackground: #4e7c97; */
	--primaryBackground: #15384C;
	--headBackground: #CF4A41;
	--headHighlight: #bb3b32;
	/* --defTextColor: #FFFFFF;
	--defBackground: #000000; */
	--defTextColor: #000000;
	--defBackground: #FFFFFF;
	--lightTextColor: #6f6f6f;
}

body {
	background-color: var(--primaryBackground);
	min-height: 100vh;
	/* font-family: 'Dosis', sans-serif; */
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 32rem;
}

header {
	position: absolute;
	top: -25px;
	width: 100%;
	text-align: center;
}

footer {
	position: absolute;
	bottom: -30px;
	width: 100%;
	text-align: center;
}

.imgLogo {
	height: 50px;
}

main {
	position: relative;
	background-color: var(--defBackground);
	max-width: 1200px;
	margin: 50px auto;
	color: var(--defTextColor);
	border-radius: 10px;
}

@media only screen and (min-width: 1200px) {
/* For desktop: */
body {
	align-items: center;
}

main {
	width: 1200px;
}
}

main > nav {
	background-color: var(--headBackground);
	padding: 2rem;
	color: var(--defBackground);
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px 10px 0px 0px;
}

main > nav > h1 {
	font-size: 2.4rem;
	font-weight: 400;
}

main > nav > span {
	text-transform: none;
	font-size: 1.5rem;
	font-style: italic;
}

main > nav > ul {
	list-style: none;
	display: flex;
	font-size: 1.3rem;
	font-weight: 300;
	margin-left: auto;
}

main > nav > ul > li {
	padding: 1rem;
}

main > nav > ul > li#selectedNav {
	background-color: var(--headHighlight);
}

main > nav > ul > li > a {
	text-decoration: none;
	color: var(--defBackground);
	transition: all .2s ease-in-out;
	display: inline-block;
}

main > nav > ul > li > a:hover {
	transform: translate(0, -5px);
	color: var(--defTextColor);
}

main > section article {
	padding: 2rem;
}

main > section article::after {
	content: '';
	display: block;
	width: 100%;
	height: 0.2rem;
	margin-top: 2rem;
	background-color: var(--defTextColor);
}

@media only screen and (min-width: 56rem) {
/* For desktop: */
div.sidebar {
	min-width: 24rem;
}

div.above {
	display: flex;
}
}

article a {
	/* color: var(--defTextColor); */
	color: var(--headBackground);
	font-size: 1.2rem;
	font-weight: 800;
}

a:hover {
	color: var(--headHighlight);
	text-decoration: none;
}

article#landing > h2 {
	color: var(--headBackground);
	font-size: 2.2rem;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 1rem;
}

article#landing > div.image{
	/* max-width: 750px; */
	height: 250px;
	background-color: rgb(38, 38, 50);
	background-image: radial-gradient(circle, rgba(38, 38, 50, 1) 60%, white);
	border-radius: 10px;
}

div.image > img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

article#landing > p {
	line-height: 180%;
}

article#landing > p > strong, article#landing > p > a {
	color: var(--defTextColor);
}

article > h3 {
	color: var(--headBackground);
	font-weight: 500;
	font-size: 2.2rem;
	text-transform: uppercase;
}

article#benefit > div.alternate {
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
}

div.alternate > div.altItem {
	border-top: 1px dotted var(--lightTextColor);
	display: flex;
	width: 100%;
}

div.alternate > div.altItem > span {
	position: relative;
}

div.alternate > div.altItem > span > i {
	font-size: 3rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

div.alternate > div.altItem > span.laptopAnim::before,
div.alternate > div.altItem > span.laptopAnim::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 6px;
	border: 3px solid blueviolet;
	border-radius: 50%;
	top: 0.9rem;
	left: 2rem;
	animation: fadeInOne 2s infinite both;
}
div.alternate > div.altItem > span.laptopAnim::after {
	width: 0;
	border-radius: unset;
	border: 2px solid blueviolet;
	top: 1rem;
	left: 2.8rem;
	animation: fadeInTwo 2s infinite both;
}

div.alternate > div.altItem > span.cloudAnim {
	animation: cloudy 10s infinite both;
}
@keyframes cloudy {
	0%, 100% {
		transform: translate(0,0) rotate3d(0, 0, 1,-7deg) scale(1);
	}
	25%, 75% {
		transform: translate(1rem,0.5rem) rotate3d(0, 0, 0, 0deg) scale(0.5);
	}
	50% {
		transform: translate(2rem,0) rotate3d(0, 0, 1, 7deg) scale(1);
	}
}

div.alternate > div.altItem > span.lightAnim::before,
div.alternate > div.altItem > span.lightAnim::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-right: 5px solid orange;
	border-radius: 50%;
	top: 0.3rem;
	left: 1.7rem;
	animation: fadeInOne 2s infinite both;
}
div.alternate > div.altItem > span.lightAnim::after {
	left: 0.4rem;
	transform: rotate(180deg);
	animation: fadeInTwo 2s infinite both;
}

div.alternate > div.altItem:nth-child(4n-3) {
	flex-direction: row-reverse;
}
div.alternate > p:nth-child(4n-2) {
	text-align: right;
}

article#advantage > ul {
	font-size: 2rem;
	list-style: none;
}

article#advantage > ul > li > strong > i {
	width: 3rem;
	margin-left: 1rem;
	/* color: var(--headBackground); */
}

article#instr > p {
	font-size: 1.5rem;
}

article#instr > p > a {
	font-weight: 650;
	font-size: 1.5rem;
	color: var(--lightTextColor);
}

article#announcements > ul {
	list-style: none;
}

article#announcements > ul > li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--lightTextColor);
	margin: 5px 0;
}

a.btn {
	background-color: var(--headBackground);
	color: var(--defBackground);
	border-radius: 5px;
	padding: 0.5rem 1.2rem;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
}

a.btn:hover {
	background-color: var(--headHighlight);
}

article#contact > ul {
	list-style: none;
}

article#contact > ul > li {
	padding: 5px 0px;
	vertical-align: middle;
}

article#contact > ul > li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	margin-bottom: 5px;
	background-color: var(--lightTextColor);
}

i.fa-phone {
	vertical-align: middle;
	line-height: 2rem;
	font-size: 1.8rem;
	color: rgb(114, 167, 36);
	margin-right: 0.8rem;
	margin-top: 0.5rem;
	animation: shake 2s infinite cubic-bezier(.36, .07, .19, .97) both;
}
.ringing_phone {
	position: relative;
}
.ringing_phone:after,
.ringing_phone:before {
	position: absolute;
	content: '';
	opacity: 0;
	border-right: 2px solid blue;
	width: 15px;
	height: 15px;
	left: -5%;
	top: -5%;
	border-radius: 50%;
	transform: rotate(-40deg);
	animation: fadeInOne 2s infinite both;
}
.ringing_phone:before {
	width: 20px;
	height: 20px;
	left: -5%;
	top: -30%;
	animation: fadeInTwo 2s infinite both;
}
@keyframes shake {
	5%, 45%, 15%, 25%, 35% {
		transform: rotate3d(0, 0, 1,-7deg) scale(1.4);
	}
	10%, 40%, 20%, 30% {
		transform: rotate3d(0, 0, 1, 7deg) scale(1.4);
	}
	51%, 100% {
		transform: rotate3d(0, 0, 0, 0deg) scale(1);
	}
}
@keyframes fadeInOne {
	45% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@keyframes fadeInTwo {
	55% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
  
i.fa-envelope {
	vertical-align: middle;
	line-height: 3rem;
	font-size: 1.8rem;
	color: rgb(8, 133, 250);
	margin-right: 0.2rem;
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0%, 100% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.3);
	}
}

i.fa-map-marker {
	vertical-align: middle;
	line-height: 3rem;
	font-size: 1.8rem;
	color: rgb(250, 125, 8);
	margin-right: 0.5rem;
	margin-top: -0.5rem;
	animation: drift 2s infinite;
}
@keyframes drift {
	0%, 100% {
		transform: translateX(-0.5rem);
	}
	50% {
		transform: translateX(0.5rem);
	}
}

table {
	border-collapse: collapse;
	margin-top: 1rem;
}
th, td {
	border: 2px solid var(--primaryBackground);
}
td {
	width: 13%;
}